.button, .optionsbar a {
   border-top: 1px solid #631b16;
   background: #e31009;
   background: -webkit-gradient(linear, left top, left bottom, from(#d94d0d), to(#e31009));
   background: -webkit-linear-gradient(top, #d94d0d, #e31009);
   background: -moz-linear-gradient(top, #d94d0d, #e31009);
   background: -ms-linear-gradient(top, #d94d0d, #e31009);
   background: -o-linear-gradient(top, #d94d0d, #e31009);
   padding: 5px 10px;
   margin: 150px 5px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover, .optionsbar a:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button:active, .optionsbar a:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
   
.selectedRow {
  background: #ff0000;
}

.dialog {
  display: none;
}

.queryview {
    display: inline-block;
    vertical-align: top;
}

.optionsbar {
    display: inline-block;
    vertical-align: top;
}

.controlbar {
  clear: both;
}


.tag, .tagTree label {  
  background-color: rgb(226, 136, 80);
  color: rgb(255, 255, 255);
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  text-align: left;
}

.defaultValue {
  color: gray;
}
